@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
	font-family: 'ArminGrotesk';
	src: url('./assets/fonts/ArminGroteskRegular.otf');
	font-weight: normal;
}
@font-face {
	font-family: 'ArminGrotesk';
	src: url('./assets/fonts/ArminGroteskSemiBold.otf');
	font-weight: 500;
}
@font-face {
	font-family: 'ArminGrotesk';
	src: url('./assets/fonts/ArminGroteskBlack.otf');
	font-weight: 900;
}
@font-face {
	font-family: 'RobotoMono';
	src: url('./assets/fonts/RobotoMonoBold.ttf');
	font-weight: 700;
}

/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  color: inherit;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button, input {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* Custom Reset */

* {
  box-sizing: border-box;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-family: 'ArminGrotesk';
	height: 100%;
}

:root{
	--color-base-bone: rgba(246, 246, 235, 1);
	--color-base-gray: #4b4b4e;
	--color-base-gray-secondary: rgba(203, 203, 205, 1);
	--color-base-blue: rgba(16, 40, 75, 1);
	--color-base-blue-secondary: rgba(56, 31, 209, 1);
	--color-neutral-black: rgba(0, 0, 0, 1);
	--color-neutral-white: rgba(255, 255, 255, 1);

	/* Link */
	--color-link-static: rgba(56, 31, 209, 1);
	--color-link-hover: rgba(126,109,233,1);

	/* Errors */
	--color-type-error: rgba(186, 28, 28, 1);

	/* Input */
	--color-form-input-active: rgba(44,25,164,1);
	--color-form-input-border: rgba(172,172,175,1);

	/* Button */
	--color-button-primary: rgba(56, 31, 209, 1);
	--color-button-primary-hover: rgba(87, 64, 226, 1);
	--color-button-primary-active: rgba(44, 25, 164, 1);
	--color-button-secondary: rgba(16, 40, 75, 1);
	--color-button-secondary-hover: rgba(25, 63, 118, 1);
	--color-button-secondary-active: rgba(16, 40, 75, 1);

	/* Text */
	--color-type-purple: #381fd1;
}

#root {
	height: 100%;
}

::selection {
	text-shadow: none;
	background: var(--color-base-blue-secondary);
	color: var(--color-neutral-white);
}